{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Cadastro</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'inicial' %}">voltar ao inicio</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container center-container">
        <div class="login-box">
            <form action="{% url 'cadastro' %}" method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}        
                {% endfor %}
                <button type="submit" class="button">Cadastrar</button>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2025 Cadastro. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
