{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Filmes</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bem-vindo à Página de Filmes</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}">Menu</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container center-container">
        <div class="options">
            <a href="minha-lista.html" class="button">Minha Lista</a>
            <a href="adicionar-filme.html" class="button">Adicionar Filme</a>
            <a href="{% url 'buscar' %}" class="button">Pesquisar Filme</a>
        </div>
    </div>
    <footer>
        <p>&copy; 2025 Página de Filmes. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
